/*
	CSS is used to style your HTML.
	First we have to select a html element to be styled.
	One way of selecting the element is using the element name, we simply write the element name and then
	inside {  } we can write the CSS declarations which consists of a CSS property and a value to that CSS property.
	Another way of selecting the CSS elements is by using '.' and then class names.
*/
h1{								/*applies styling to all the h1 elements*/
	color: #b73c03;				/*changes the color of the element color can be changed using named colors,
								   hex color, or rgb colors*/
	font-size: 50px;			/*changes the font size*/
	font-family: Garamond;		/*changes the font-family*/
	font-style: italic;			/*can be used to set font to italic or to set italics text to normal*/
	text-align: center;			/*used to align the text can take values as left, right, or center*/
	text-transform: capitalize;	/*can be used to transform text to either uppercase lowercase,
								  or capitalize(first letter of each word as capital)*/
}
p {
	color: red;
	font-size: 30px;
	font-weight: bold;			/*font-weight can set the font to either bold or to normal*/
	font-family: cursive;
	border-style: dashed;		/*border-style property is used to give the type of border we'll be using
								  there are a lot of type of borders like solid, dashed, dotted.
								  border-width gives the width of the border and the border-color gives the 
								  color of the border. We can also make the borders rounded from the corners
								  by using the border-radius property*/
	border-width: 5px;
	border-color: green;
	border-radius: 50px;
	/*BOX model is established on the fact that every element is contained in a box. The content of the element is
	  determined using a content box and the height and width of this content box can be used using the height and
	  width property. Padding gives the space between the border and the content of the element. Margin is used to
	  increase the space between the border and the outside containing element, it increases the distance outside
	  the border*/
	width: 400px;
	height: 200px;
	padding: 20px;
	padding-left: 100px;
	margin-left:auto; /* we can use margin-left and margin-right as auto to set the element in the middle*/
	margin-right: auto;

}
.sub {
	color: rgb(183, 60, 3);
}