._hce{height:44px}._hce button{font-weight:normal !important;height:44px !important;letter-spacing:0 !important;padding-left:0 !important}

#bootloader_v4UCk{height:42px;}.bootloader_v4UCk{display:block!important;}