.fbPhotoSnowliftContainer .uiTypeaheadView .hintText{display:none}
._agk{margin-right:3px;max-height:16px;max-width:16px;vertical-align:-2.9px}

#bootloader_krHCZ{height:42px;}.bootloader_krHCZ{display:block!important;}