._5bv9{border-radius:32px}
.sp_H8-UfZwFBeo{background-image:url(/rsrc.php/v3/yi/r/IRoD6KnFI7Q.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:156px;width:500px}.sp_H8-UfZwFBeo.sx_d96eab{width:16px;height:16px;background-position:0 -157px}.sp_H8-UfZwFBeo.sx_ee6e91{background-position:0 0}

#bootloader_FqkaP{height:42px;}.bootloader_FqkaP{display:block!important;}